<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<title>PhoneStore</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="/webjars/materializecss/0.97.7/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<style>
		body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
	</style>
	
	<body class="w3-light-grey w3-content" style="max-width:1600px">
	
	<!-- Overlay effect when opening sidebar on small screens -->
	<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
	
  	<div class="w3-top">
  		<div class="w3-bar w3-white w3-card" id="myNavbar">
	    <a href="/produtos/" class="w3-bar-item w3-button w3-wide">PhoneStore</a>
	    <div class="w3-right w3-hide-small">
	    <a href="/produtos/" class="w3-bar-item w3-button">Produtos</a>
	    <a href="/cadastro" class="w3-bar-item w3-button">Cadastro</a>
	    <a href="/logar" class="w3-bar-item w3-button">Login</a>
	    </div>
    </div>
	
	<div class="row">
		<div class="col s3" th:each="produto: ${produtos}" >
			<div class="card" style="border: 1px solid gray">
				<div class="card-image">
					<img style="height: 300px" th:src="@{${produto.caminhoImagem}}">
				</div>
					
				<div class="card-content">
					<p th:text="${produto.titulo}"></p>
					<p th:text="${produto.valor}"></p>
				</div>
				<div class="card-action">
					<a href=""></a>
				</div>
			</div>
		</div>
	</div>
	  
	
	</div>
	
	<script src="/webjars/jquery/2.2.4/jquery.js"></script>
	<script src="/webjars/materializecss/0.97.7/js/materialize.js"></script>
	
	</body>
</html>

